GlobalTrack/GlobalTrackDesktop/Service References/GlobalTrackService/GlobalTrackServicev1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GlobalTrackServicev1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62978/GlobalTrackServicev1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62978/GlobalTrackServicev1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62978/GlobalTrackServicev1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GlobalTrackService" />
      <xsd:import schemaLocation="http://localhost:62978/GlobalTrackServicev1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ClientDataModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGlobalTrackServicev1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IGlobalTrackServicev1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IGlobalTrackServicev1_GetTrackings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackings" />
  </wsdl:message>
  <wsdl:message name="IGlobalTrackServicev1_GetTrackings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackingsResponse" />
  </wsdl:message>
  <wsdl:message name="IGlobalTrackServicev1_GetTrackableItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackableItems" />
  </wsdl:message>
  <wsdl:message name="IGlobalTrackServicev1_GetTrackableItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackableItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IGlobalTrackServicev1_GetTrackableItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackableItem" />
  </wsdl:message>
  <wsdl:message name="IGlobalTrackServicev1_GetTrackableItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrackableItemResponse" />
  </wsdl:message>
  <wsdl:message name="IGlobalTrackServicev1_UpdateTrackableItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTrackableItem" />
  </wsdl:message>
  <wsdl:message name="IGlobalTrackServicev1_UpdateTrackableItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTrackableItemResponse" />
  </wsdl:message>
  <wsdl:portType name="IGlobalTrackServicev1">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IGlobalTrackServicev1/Login" message="tns:IGlobalTrackServicev1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGlobalTrackServicev1/LoginResponse" message="tns:IGlobalTrackServicev1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrackings">
      <wsdl:input wsaw:Action="http://tempuri.org/IGlobalTrackServicev1/GetTrackings" message="tns:IGlobalTrackServicev1_GetTrackings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGlobalTrackServicev1/GetTrackingsResponse" message="tns:IGlobalTrackServicev1_GetTrackings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrackableItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IGlobalTrackServicev1/GetTrackableItems" message="tns:IGlobalTrackServicev1_GetTrackableItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGlobalTrackServicev1/GetTrackableItemsResponse" message="tns:IGlobalTrackServicev1_GetTrackableItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrackableItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IGlobalTrackServicev1/GetTrackableItem" message="tns:IGlobalTrackServicev1_GetTrackableItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGlobalTrackServicev1/GetTrackableItemResponse" message="tns:IGlobalTrackServicev1_GetTrackableItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTrackableItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IGlobalTrackServicev1/UpdateTrackableItem" message="tns:IGlobalTrackServicev1_UpdateTrackableItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGlobalTrackServicev1/UpdateTrackableItemResponse" message="tns:IGlobalTrackServicev1_UpdateTrackableItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGlobalTrackServicev1" type="tns:IGlobalTrackServicev1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IGlobalTrackServicev1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrackings">
      <soap:operation soapAction="http://tempuri.org/IGlobalTrackServicev1/GetTrackings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrackableItems">
      <soap:operation soapAction="http://tempuri.org/IGlobalTrackServicev1/GetTrackableItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrackableItem">
      <soap:operation soapAction="http://tempuri.org/IGlobalTrackServicev1/GetTrackableItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTrackableItem">
      <soap:operation soapAction="http://tempuri.org/IGlobalTrackServicev1/UpdateTrackableItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GlobalTrackServicev1">
    <wsdl:port name="BasicHttpBinding_IGlobalTrackServicev1" binding="tns:BasicHttpBinding_IGlobalTrackServicev1">
      <soap:address location="http://localhost:62978/GlobalTrackServicev1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>